{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}


<div class="title-color">
  <div id="main">
    <div id="hero" class="hero-space">
      <h1 class="home-title">{{.Title}}</h1>
      <h3 class="home-title">{{.Description}}</h3>
    </div>
  </div>
</div>
<div id="main">
	<div>
		<dir><img src="/img/assets/Slack-logo.png"></dir>
		<div><h3>If you're in need of UX/UI design help, feel free to join my slack channel</h3>
			<a target="_blank" href="https://join.slack.com/t/bob-coffee/shared_invite/enQtMzEwODU3NjA1NDc5LThiMWE4MWY0MDljY2IzNzU0YjRhYTQ3YjcwZGQwM2Q5ZWQwYjkzNjQ0NTdlNTU4OWFmNTM0ZDU2MDE0NTViNmU" class="button secondary">Join Slack</a></div>
	</div>
</div>
{{end}}
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}