<div class="show-sm smooth-header">
  <div data-component="sticky"  id="nav-toggle-box">
    <div id="nav-toggle-brand">
      <a href="/">{{ .Site.Title }}</a>
    </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
  </div>
</div>
  <div  id="top" data-component="sticky" class=" hide-sm mobile-offset smooth-header">
    <div class="header container">
      <div id="top-brand">
        <h3 class="title">
        <a href="/" title="home">{{ .Site.Title }}</a></h3>
      </div>
      <nav id="top-nav-main">
        <ul>
         {{ $currentPage := . }}
         {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
      {{end}}
        </ul>
      </nav>
      <nav id="top-nav-extra">
        <ul>
          {{ range .Site.Menus.extra }}
            <li>
              <a href="{{ .Permalink }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
