<div id="main">
  <div id="post-box" class="break">

    {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
      {{ $.Scratch.Set "has_related" true }}
    {{ end }}

    {{ if $.Scratch.Get "has_related" }}
      <aside id="main">
        <h3 class="related-title">Related Content</h3>
        {{ $num_to_show := .Site.Params.related_content_limit | default 7 }}
        {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <a href="{{ .RelPermalink }}">
        <ul class="related-content-ul">

            <li class="related-list"><h5>{{ .Title }}</h5><p> &ndash; {{ .ReadingTime }} minute read </p>

        </ul>
        </a>
        {{ end }}
      </aside>
    {{ end }}
  </div>
</div>
